<html>
<head>
    <base href="/">
    <title>Angular Messenger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-fileupload.min.js"></script>
    <script src="/js/jasny-bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/stylesheets/device-mockups/device-mockups.min.css">
    <link rel='stylesheet' href='/stylesheets/bootstrap-fileupload.min.css'/>
    <link rel='stylesheet' href='/stylesheets/jasny-bootstrap.min.css'/>
    <script src="/js/home_page.js"></script>

    <!-- jQuery -->
    <script src="/jquery/jquery.min.js"></script>

</head>
<body>
<my-app>Loading...</my-app>

<script src="/js/app/bundle.js"></script>
</body>
</html>
